services:
  cmwi-stock-control:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cmwi-frontend
    ports:
      - "3000:3000"
    restart: unless-stopped

networks:
  cmwi-stock-control-default:
    driver: bridge 

#  docker build -t agungkusaeri/cmwi-fst:dev --build-arg NEXT_PUBLIC_API_BASE_URL=http://localhost:3210/api --build-arg NEXT_PUBLIC_SOCKET_BASE_URL=ws://localhost:3001 .
# docker push agungkusaeri/cmwi-fst:dev

#  docker build -t agungkusaeri/cmwi-fst:dev.1 --build-arg NEXT_PUBLIC_API_BASE_URL=http://192.168.245.242:3210/api --build-arg NEXT_PUBLIC_SOCKET_BASE_URL=ws://192.168.245.242:3001 .
# docker push agungkusaeri/cmwi-fst:dev.1

#  docker build -t agungkusaeri/cmwi-fst:staging --build-arg NEXT_PUBLIC_API_BASE_URL=http://192.168.245.156:3210/api --build-arg NEXT_PUBLIC_SOCKET_BASE_URL=ws://192.168.245.156:3001 .
# docker push agungkusaeri/cmwi-fst:staging

# docker build -t agungkusaeri/cmwi-fst:staging.2 --build-arg NEXT_PUBLIC_API_BASE_URL=http://192.168.205.170:3210/api --build-arg NEXT_PUBLIC_SOCKET_BASE_URL=ws://192.168.205.170:3001 .
# docker push agungkusaeri/cmwi-fst:staging.2

# docker build -t agungkusaeri/cmwi-fst:staging.nginx --build-arg NEXT_PUBLIC_API_BASE_URL=http://localhost/v1 --build-arg NEXT_PUBLIC_SOCKET_BASE_URL=ws://localhost .
# docker push agungkusaeri/cmwi-fst:staging.nginx